<h1 mat-dialog-title>{{ data? 'Edit Accountant': 'Add Accountant'}}</h1>
<form [formGroup]="accountantDialogForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content>
        <div class="row d-flex gap-2">
            <mat-form-field class="g-dialog-narrow-field" appearance="outline">
                <mat-label>Name</mat-label><br>
                <input matInput formControlName="name">
                <mat-error
                    *ngIf="accountantDialogForm.controls['name'].errors?.['required'] && accountantDialogForm.controls['name'].touched">Name
                    field is
                    required</mat-error>
            </mat-form-field>
            <mat-form-field class="g-dialog-narrow-field" appearance="outline">
                <mat-label>Surname</mat-label><br>
                <input matInput formControlName="surname">
                <mat-error
                    *ngIf="accountantDialogForm.controls['surname'].errors?.['required'] && accountantDialogForm.controls['surname'].touched">Surname
                    field is
                    required</mat-error>
            </mat-form-field>
            <mat-form-field class="g-dialog-narrow-field" appearance="outline">
                <mat-label>Phone number</mat-label><br>
                <input matInput type="number" formControlName="phone">
                <mat-error
                    *ngIf="accountantDialogForm.controls['phone'].errors?.['required'] && accountantDialogForm.controls['phone'].touched">Phone
                    field is
                    required</mat-error>
            </mat-form-field>
            <mat-form-field class="g-dialog-narrow-field" appearance="outline">
                <mat-label>Role</mat-label><br>
                <input matInput formControlName="role">
                <mat-error
                    *ngIf="accountantDialogForm.controls['role'].errors?.['required'] && accountantDialogForm.controls['role'].touched">Role
                    field is
                    required</mat-error>
            </mat-form-field>
            <mat-form-field class="g-dialog-narrow-field" appearance="outline">
                <mat-label>Email</mat-label><br>
                <input matInput type="email" formControlName="email">
                <mat-error
                    *ngIf="accountantDialogForm.controls['email'].errors?.['required'] && accountantDialogForm.controls['email'].touched">Email
                    field
                    is required</mat-error>
                <mat-error
                    *ngIf="accountantDialogForm.controls['email'].errors?.['email'] && accountantDialogForm.controls['email'].touched">Please
                    type
                    in
                    correct email address.</mat-error>
            </mat-form-field>
            <mat-form-field class="g-dialog-narrow-field" appearance="outline" class="d-none">
                <mat-label>Photo</mat-label><br>
                <input matInput formControlName="photo">
            </mat-form-field>
        </div>
    </div>

    <mat-dialog-actions>
        <button mat-raised-button type="button" class="dialog-button dialog-button-cancel"
            [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button class="dialog-button dialog-button-save" type="submit">{{data? 'Update':
            'Save'}}</button>
    </mat-dialog-actions>
</form>
<div class="g-dialog-upload-div position-absolute end-0 top-0 d-flex justify-content-end">
    <div class="row">

        <div class="col-8 me-1 d-flex align-items-center text-end">Choose photo:</div>
        <div class="col-3 d-flex justify-content-end position-relative">
            <div class="g-dialog-add-photo-div">
                <input type="file" (change)="onChange($event)" #avatar>
            </div>

            <div *ngIf="myImage" (click)="avatar.click()">
                <img class="avatarImg" [src]="myImage" alt="">
            </div>
        </div>
    </div>
</div>